<?xml version="1.0" encoding="utf-8" ?>
<!--
	Template file for App.config 
	Replace all values with your storage specific values
-->
<configuration>
	<appSettings>

		<!-- Cloud / Stash -->
		<add
				key="AccountName"
				value="YOUR ACCOUNT NAME HERE"/>

		<add
				key="Key"
				value="YOUR ACCOUNT KEY HERE" />

		<!-- Cloud / Cloud Storage Account -->
		<add
			key="DataConnectionString"
			value="DefaultEndpointsProtocol=http;AccountName=YOUR ACCOUNT NAME;AccountKey=YOUR ACCOUNT KEY" />

		<!-- Emulator / Cloud Storage Account -->
		<add
			key="DataConnectionStringEmulator"
			value="UseDevelopmentStorage=true" />

	</appSettings>
</configuration>